#root, #root > div {
    height: 100%;
}

nav {
    background-color: rgb(15, 113, 113) !important;
    display: flex;
    justify-content: center;
}
nav img {
    max-height: 75px;
}


footer {
    width: 100%;
    height: 35px;
    position: fixed;
    bottom: 0px;
    background-color: #75C0B5;
    display: flex !important;
    color:white;
}
footer > div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.selectedFooterItem {
    background-color: #0f7171;
}

.roundComponent {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: #75C0B5;
        border-radius: 30px;
}


.subTitle {
    background-color: #0f7171;
    color: white;
    margin-top: 15px;
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 67%;
    border-radius: 30px;
}



.subTitleWrap {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.subTitle > p {
    color:white;
    text-align: center;
}
.subTitle > .plus {
    color:black;
    background-color: white;
    position: absolute;
    right: 20;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #0f7171;
}

.cProfileWrap {
    padding: 10px;
    padding-bottom: 90px;
    min-height: 100%;
}

.childProfileHeader{
    margin-top: 70px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    color: #4a4a4a !important;
    text-align: center;

}
.childProfileHeader img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -50px;
}

.warning {
    text-align: center;
    margin-bottom: 20px;
}

.task { 
    margin-top: 15px;
    justify-content: space-between;
}

.taskPending {
    background-color: #0f7171 !important;
}

.task > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
}

.task > div:first-child{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-width: 50px;
}

.task > div:nth-child(2){
    flex:1;
    flex-direction: column;
}

.task > div:last-child{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    min-width: 50px;
}



.newTask {
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: initial;
}

.newTask > div:first-child{
    display: flex;
    margin-bottom: 15px;
}

.newTask img {
    max-width: 28px;
}

.newTask input {
    background: #0f7171;
    border: 1px solid rgb(15, 113, 113, 0);
    outline: none;
    text-align: center;
    font-size: 15px;
    color: white;
    width: 100%;
    border-radius: 10px;
    margin: 0px 5px;
}

.newTask input:focus{
    border: 1px solid white;
    
}

.setPrice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: #0f7171;
    color: white;
    border-radius: 15px;
    padding: 10px 15px;
}

.setPrice > p:nth-child(2) {
    flex: 1;
    text-align: center;
}

.setPrice img {
    max-width: 22px;
    margin: 0px 15px;
}

.badgeList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.badgeList > div {
    width: 19%;
}

.childList{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #0F7171;
    color: white;
    padding: 10px 30px;

}

.childList > li {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.childList > li > p {
    border: 1px solid white;
    border-radius: 20px;
    font-size: 12px;
    width: fit-content;
    padding: 5px 10px;
}

.childList > li > img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-bottom: 7px;
}

.selectedChildIcon img {
    border: 3px solid white;
}


.profile {
    padding: 5%;
}


.paymentModal {
    background-color: #75C0B5;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.paymentModal > div {
    display: flex;
    margin-top: 25px;
}

.modalButton {
    background-color: #0f7171;
    width: 50%;
    color:white;
    padding: 20px;
}

.modalButton:first-child {
    border-bottom-left-radius: 30px;
}
.modalButton:last-child {
    border-bottom-right-radius: 30px;
}

.wish {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.wish img {
    max-height: 30px;
}

.costIcon {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
}

.wish > p:first-child, .wish > p:last-child {
    width: 30%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.task >div > img{
    max-height: 23px;
}

.badgeList {
    justify-content: space-around;
    background-color: white;
    border: 1px solid #0f7171;
    padding: 25px;
    margin-top: 15px;
}
.badgeList li {
    width: 28%;
}

.taskCoin {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.taskCoin p {
    position: absolute;
}

.coin {
    max-width: 100%;
    max-height: 100%;
}

.checkcoin{
    width: 50px;
    height: 50px;  
}

.demo h2 {
    text-align: center;
    margin-top: 15px;
}

.userList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userList > li {    
    width: 80%;
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 10px;
    border: 1px solid #0f7171;
}
.userList > li > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 30px;
}

